.users-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-title {
  text-align: center;
  font: bold 22px sans-serif;
}

.users-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  gap: 10px;
  padding-inline: 10px;
}